@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 1.2em;
  box-sizing: border-box;
  vertical-align: baseline;
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
}

ul {
  list-style: none;
}

li,
a{
  text-decoration: none;
}

a {
  cursor: pointer;
  color: $greyDark;

  &:hover {
    color: $gold;
  }
  &:visited {
    color: inherit;
  }
}

html {
  font-size: 87.5%;
}

/*14px*/

body {
  background: $grey;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: $greyDark;
}

section {
  margin: 0 auto;
  max-width: 100%;
}

.sectionHeader {
  margin: 1.75em auto 1.25em;
  text-align: center;
}

.sectionBody {
  padding: 12px 18px;
}

.row {
  margin-bottom: 14px;
}



/*** wrapper ***/
/*** used in Login/Register/Forgot... ***/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    padding: 1.6rem 1rem;
    border: 1px solid rgba($blueDark, .2);
    border-radius: 4px;
    background-color: $white;
    .title {
      margin-top: 0;
    }
  }
}

/*** flex-row ***/
/*** used in Modals for buttons (save and close) ***/
.flex-row {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 740px) {
  section {
    padding: 0 3%;
  }
  .sectionBody {
    padding: 0;
  }
}
@media screen and (min-width: 1070px) {
  section {
    max-width: 1200px;
  }
}

p {
  line-height: 1.375rem;
  font-size: 0.9375rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  // margin-top: 0;
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
  margin: 1.5rem 0 1.2rem;
}

h5 {
  font-size: 1.10rem;
  margin: 1.10rem 0 1rem;
  color: rgba($blueDark, .3);
}

.small,
.text_small {
  font-size: 0.8rem;
}

.error {
  color: $dangerous;
  margin-bottom: 0.3rem;
  white-space: pre-wrap;
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  // user-drag: none;
}

input:invalid,
select:invalid {
  border-color: red;
}

input,
select {
  padding: 0.25em 0.5em;
  display: block;
  background-color: rgba($blueDark, 0.6);
  color: $white;
  margin-bottom: 0;
  width: 100%;
  max-width: 20ch;
  border: 1px solid $white;
  border-radius: 4px;

  &:focus {
    background-color: rgba($blueDark, 0.2);
    color: $greyDark;
  }

  &::placeholder {
    color: $greySuperLight;
  }
}

input[type='file']{
  display: none;
}
input[type='checkbox'] {
  margin-right: 1ch;
  display: inline-block;
  vertical-align: bottom;
  height: 1.1em;
  width: 1.1em;
}

input[type="datetime-local"] {
  max-width: 24ch;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  padding: 0;
  margin: 0 0 0 1ch;
}

textarea {
  border: 1px solid rgba($blueDark, .2);
  width: 100%;
  min-height: 3rem;
  max-height: 5rem;
}

/*** Close ***/
.close {
  grid-area: close;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 16px;
  width: 2px;
  left: 7px; // Make it on the middle of close element
  background-color: $greyDark;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


/*** btn ***/
.btn {
  padding: 0.4em 0.8em;
  border: 1px solid rgba($blueDark, 0.2);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.125s;
  vertical-align: baseline;
  line-height: 1rem;
  font-size: 1rem;

  &:active {
    transform: scale(0.94);
  }

  &:disabled,
  &.red:disabled,
  &.color:disabled,
  &.white:disabled {
    cursor: initial;
    background-color: rgba($blueDark, 0.1);
    pointer-events: none;

    &:hover {
      background-color: rgba($blueDark, 0.1);
    }
  }

  &.white {
    background-color: $white;
    color: $blueDark;
  }

  &.color {
    background-color: $blueDark;
    color: $white;

    &:hover {
      background-color: rgba($blueDark, 0.8);
    }
  }

  &.red {
    background-color: $dangerous;
    color: $white;

    &:hover {
      background-color: rgba($dangerous, 0.8);
    }

    &.red:disabled {
      cursor: initial;
      background-color: rgba($dangerous, 0.1);

      &:hover {
        background-color: rgba($dangerous, 0.1);
      }
    }
  }

  &.text {
    display: inline-block;
    border: none;
    color: $dangerous;
    margin: 0 2ch;
  }

  &.danger {
    background-color: $dangerous;
    color: $white;

    &:hover {
      background-color: rgba($dangerous, 0.8);
    }
  }

  &.full-width {
    width: 100%;
  }
}

.extra-message {
  font-size: .825em;
  display: block;
  font-style: italic;
  color: rgba($blueDark, .6);

  &.inline-extra {
    display: inline-block;
    vertical-align: top;
    line-height: 1.025em;
  }
}
.filter {
  padding: 1rem 0;
}


.header {
  display: inline;
  position: relative;
  overflow-wrap: break-word;
  text-align: center;
  max-width: 20ch;
}

.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0.1em;
  height: 2px;
  width: 60%;
  margin: 0 auto;
  background-color: $blueDark;
}

.flex-column-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(350px, 500px, 100%);

  &.full-width {
    width: 100%;
  }

  h3 {
    text-align: center;
  }

  .group {
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px dashed $blueDark;
  }
}

/*** table ***/
/*** used in Moderator sections ***/

.table-body,
.no-data {
  max-width: 100%;
  min-height: 3rem;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $white;
  /* Hide scrollbar */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &.large {
    max-height: calc(4 * 75px);
  }
}

.no-data {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1rem 0;
}

.table-row {
  padding: 10px 4px;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
    .overLimit b,
    .closeToLimit b {
      color: $dangerous;
    }
    &.blocks {
      flex-direction: column;
    }

    b {
      display: inline-block;
    }
  }
  .sort {
    cursor: pointer;
    &:hover{
      background-color: rgba($blueDark, .2);
    }
  }

  &:nth-of-type(2n) {
    background-color: rgba($blueDark, 0.05);
  }
}


.listOptions {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5em;
  margin-left: 12px;
}

.legendContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}
.date {
  text-align: center;

  .day,
  .month,
  .year {
    margin-bottom: 0.2em;
  }
}


.modal-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba($decorativa-neutral-dark, .4);
  overflow-y: scroll;
  padding: 0 0 44px;
  z-index: 10;
}

.modal {
  border: 1px solid $white;
  border-radius: 4px;
  background-color: $white;
  padding: 1rem;
  margin: 20px auto;
  box-shadow: 0 4px 20px rgba($blueDark, .2);
  min-width: 360px;
  max-width: min-content;
}

@media screen and (min-width: 740px) {
  .listOptions {
    margin-left: 0;
  }
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
    margin: 1.5rem 0 1.2rem;
  }

  h5 {
    font-size: 1.25rem;
    margin: 1.2rem 0 1.1rem;
    color: rgba($blueDark, .3);
  }

  .table-row {
    grid-row-gap: 0;
    grid-column-gap: 10px;

    .column {
      font-size: 1rem;
    }
  }

  .date {

    .day,
    .month,
    .year {
      display: inline-block;
      margin: 0;
    }

    .day,
    .month {
      &::after {
        content: "/";
        width: 1ch;
      }
    }
  }

  .modal-wrapper {
    justify-content: center;
  }

  .modal {
    max-width: 800px;
  }
}

@media (min-width: 1070px) {
  h1 {
    // margin-top: 0;
    font-size: 3.552rem;
  }

  h2 {
    font-size: 2.941rem;
  }

  h3 {
    font-size: 2.453rem;
  }

  h4 {
    font-size: 2.063rem;
    margin: 1.5rem 0 1.2rem;
  }

  h5 {
    font-size: 1.75rem;
    margin: 1.2rem 0 1.1rem;
    color: rgba($blueDark, .3);
  }

}